
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ----about section-- */
.about {
  min-height: 10vh;
}
.title-about::before,
.title-about::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #daa320;
    width: 2rem;
    margin: 0 1rem;
}
.line-2::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #daa320;
    width: 2rem;
    margin: 0 1rem;
    transform: translateX(27rem) translateY(-31.8rem);
}
.line  {
  border-left: 4px solid #daa320;
  height: 30rem;
  position: absolute;
  left: 50%;
  transform: translateX(-8rem) translateY(16.3rem);
  top: 0;
}


/* --portfolio-- */
.project-one {
  position: relative;
}
.project-two {
  position: relative;
}
.project-three {
  position: relative;
}
.project-four {
  position: relative;
}
.project-five {
  position: relative;
}
.project-six {
  position: relative;
}

.project-one img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project-two img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project-three img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project-four img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project-five img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project-six img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.project-one:hover img {
  opacity: 0.3;

}
.project-two:hover img {
  opacity: 0.3;

}
.project-three:hover img {
  opacity: 0.3;

}
.project-four:hover img {
  opacity: 0.3;

}
.project-five:hover img {
  opacity: 0.3;

}
.project-six:hover img {
  opacity: 0.3;

}
.project-one:hover .middle {
  opacity: 1;
}
.project-two:hover .middle {
  opacity: 1;
}
.project-three:hover .middle {
  opacity: 1;
}
.project-four:hover .middle {
  opacity: 1;
}
.project-five:hover .middle {
  opacity: 1;
}
.project-six:hover .middle {
  opacity: 1;
}



